/* Base Styles -------------------- */
body {
    @include text(0.875em, 30px, $font-weight-base, $body-color);
    font-family: $stack-opensans;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

.gutter-10 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}


